$primary: #AAAAAA;
$secondary: #000000;
$white: #ffffff;
$gray-dark-1: #6D6E71;
$gray-dark-2: #454545;
$gray-mid-1: #b5b4b4;
$gray-mid-2: #888888;
$gray-light-1: #f5f5f5;
$gray-light-2: #e1e1e1;

// Validations
$success: #16dc9a;
$error: #ff5050;

.text {
  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }

  &--white {
    color: $white;
  }

  &--gray {
    &--dark {
      &--1 {
        color: $gray-dark-1;
      }

      &--2 {
        color: $gray-dark-2;
      }
    }

    &--mid {
      &--1 {
        color: $gray-mid-1;
      }

      &--2 {
        color: $gray-mid-2;
      }
    }

    &--light {
      &--1 {
        color: $gray-light-1;
      }

      &--2 {
        color: $gray-light-2;
      }
    }
  }

  &--success {
    color: $success;
  }

  &--error {
    color: $error;
  }
}

.bkg {
  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--gradient {
    background-image: linear-gradient(to right, $secondary, $primary);
  }

  &--white {
    background-color: $white;
  }

  &--gray {
    &--dark {
      &--1 {
        background-color: $gray-dark-1;
      }

      &--2 {
        background-color: $gray-dark-2;
      }
    }

    &--mid {
      &--1 {
        background-color: $gray-mid-1;
      }

      &--2 {
        background-color: $gray-mid-2;
      }
    }

    &--light {
      &--1 {
        background-color: $gray-light-1;
      }

      &--2 {
        background-color: $gray-light-2;
      }
    }
  }

  &--success {
    background-color: $success;
  }

  &--error {
    background-color: $error;
  }
}