@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/Roboto-Bold.ttf');
}

.roboto {
  &-light {
    font-family: 'roboto-light', sans-serif;
  }

  &-regular {
    font-family: 'roboto-regular', sans-serif;
  }

  &-bold {
    font-family: 'roboto-bold', sans-serif;
  }
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

html {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'roboto-regular';
  color: $gray-dark-2;
}

p,
.p {
  font-size: 1rem;
  line-height: 1.2;
}

h6,
.h6 {
  font-size: 0.7rem;
  line-height: 1.1;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 1.15rem;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.7rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h1,
.h1 {
  font-size: 2.6rem;
}

.caption {
  font-size: 0.8rem;
  line-height: 1;
}

.letter-spacing {
  &--1 {
    letter-spacing: 1px;
  }

  &--2 {
    letter-spacing: 2px;
  }
}
