//Aligners
.text-right--xs {
  text-align: right;
}

.text-center--xs {
  text-align: center;
}

.text-left--xs {
  text-align: left;
}

.valign--top {
  vertical-align: top;
}

.valign--middle {
  vertical-align: middle;
}

.valign--bottom {
  vertical-align: bottom;
}

//Margin separators
.vmargin-5--xs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.vmargin-10--xs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vmargin-20--xs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vmargin-30--xs {
  margin-top: 30px;
  margin-bottom: 30px;
}

.vmargin-40--xs {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hmargin-5--xs {
  margin-left: 5px;
  margin-right: 5px;
}

.hmargin-10--xs {
  margin-left: 10px;
  margin-right: 10px;
}

.hmargin-20--xs {
  margin-left: 20px;
  margin-right: 20px;
}

.hmargin-30--xs {
  margin-left: 30px;
  margin-right: 30px;
}

.hmargin-40--xs {
  margin-left: 40px;
  margin-right: 40px;
}

.no-mg--xs {
  margin: 0;
}

.no-mg-top--xs {
  margin-top: 0;
}

.no-mg-bottom--xs {
  margin-bottom: 0;
}

.no-mg-left--xs {
  margin-left: 0;
}

.no-mg-right--xs {
  margin-right: 0;
}

//For dektop only
@media only screen and (min-width: 75em) {
  .text-right--lg {
    text-align: right;
  }

  .text-center--lg {
    text-align: center;
  }

  .text-left--lg {
    text-align: left;
  }

  .vmargin-5--lg {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .vmargin-10--lg {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vmargin-20--lg {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vmargin-30--lg {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .vmargin-40--lg {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .hmargin-5--lg {
    margin-left: 5px;
    margin-right: 5px;
  }

  .hmargin-10--lg {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hmargin-20--lg {
    margin-left: 20px;
    margin-right: 20px;
  }

  .hmargin-30--lg {
    margin-left: 30px;
    margin-right: 30px;
  }

  .hmargin-40--lg {
    margin-left: 40px;
    margin-right: 40px;
  }

  .no-mg--lg {
    margin: 0;
  }

  .no-mg-top--lg {
    margin-top: 0;
  }

  .no-mg-bottom--lg {
    margin-bottom: 0;
  }

  .no-mg-left--lg {
    margin-left: 0;
  }

  .no-mg-right--lg {
    margin-right: 0;
  }
}

//For tablets only
@media only screen and (min-width: 48em) {
  .text-right--sm {
    text-align: right;
  }

  .text-center--sm {
    text-align: center;
  }

  .text-left--sm {
    text-align: left;
  }

  .vmargin-5--sm {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .vmargin-10--sm {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vmargin-20--sm {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vmargin-30--sm {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .vmargin-40--sm {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .hmargin-5--sm {
    margin-left: 5px;
    margin-right: 5px;
  }

  .hmargin-10--sm {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hmargin-20--sm {
    margin-left: 20px;
    margin-right: 20px;
  }

  .hmargin-30--sm {
    margin-left: 30px;
    margin-right: 30px;
  }

  .hmargin-40--sm {
    margin-left: 40px;
    margin-right: 40px;
  }

  .no-mg--sm {
    margin: 0;
  }

  .no-mg-top--sm {
    margin-top: 0;
  }

  .no-mg-bottom--sm {
    margin-bottom: 0;
  }

  .no-mg-left--sm {
    margin-left: 0;
  }

  .no-mg-right--sm {
    margin-right: 0;
  }
}

//Padding separators
.vpadding-5--xs {
  padding-top: 5px;
  padding-bottom: 5px;
}

.vpadding-10--xs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vpadding-20--xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vpadding-30--xs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.vpadding-40--xs {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hpadding-5--xs {
  padding-left: 5px;
  padding-right: 5px;
}

.hpadding-10--xs {
  padding-left: 10px;
  padding-right: 10px;
}

.hpadding-20--xs {
  padding-left: 20px;
  padding-right: 20px;
}

.hpadding-30--xs {
  padding-left: 30px;
  padding-right: 30px;
}

.hpadding-40--xs {
  padding-left: 40px;
  padding-right: 40px;
}

.no-pd--xs {
  padding: 0;
}

.no-pd-top--xs {
  padding-top: 0;
}

.no-pd-bottom--xs {
  padding-bottom: 0;
}

.no-pd-left--xs {
  padding-left: 0;
}

.no-pd-right--xs {
  padding-right: 0;
}

//For dektop only
@media only screen and (min-width: 75em) {
  .vpadding-5--lg {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .vpadding-10--lg {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .vpadding-20--lg {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vpadding-30--lg {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .vpadding-40--lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hpadding-5--lg {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hpadding-10--lg {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hpadding-20--lg {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hpadding-30--lg {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hpadding-40--lg {
    padding-left: 40px;
    padding-right: 40px;
  }

  .no-pd--lg {
    padding: 0;
  }

  .no-pd-top--lg {
    padding-top: 0;
  }

  .no-pd-bottom--lg {
    padding-bottom: 0;
  }

  .no-pd-left--lg {
    padding-left: 0;
  }

  .no-pd-right--lg {
    padding-right: 0;
  }
}

//For tablets only
@media only screen and (min-width: 48em) {
  .vpadding-5--sm {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .vpadding-10--sm {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .vpadding-20--sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vpadding-30--sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .vpadding-40--sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hpadding-5--sm {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hpadding-10--sm {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hpadding-20--sm {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hpadding-30--sm {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hpadding-40--sm {
    padding-left: 40px;
    padding-right: 40px;
  }

  .no-pd--sm {
    padding: 0;
  }

  .no-pd-top--sm {
    padding-top: 0;
  }

  .no-pd-bottom--sm {
    padding-bottom: 0;
  }

  .no-pd-left--sm {
    padding-left: 0;
  }

  .no-pd-right--sm {
    padding-right: 0;
  }
}

//Hide or show elements on responsive
.hide--xs {
  display: none;
}

.inline-block--xs {
  display: inline-block;
}

.block--xs {
  display: block;
}

.inline--xs {
  display: inline;
}

//For dektop only
@media only screen and (min-width: 75em) {
  .hide--lg {
    display: none;
  }

  .inline-block--lg {
    display: inline-block;
    vertical-align: middle;
  }

  .block--lg {
    display: block;
  }

  .inline--lg {
    display: inline;
  }
}

//For tablets only
@media only screen and (min-width: 48em) {
  .hide--sm {
    display: none;
  }

  .inline-block--sm {
    display: inline-block;
    vertical-align: middle;
  }

  .block--sm {
    display: block;
  }

  .inline--sm {
    display: inline;
  }
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.pipe {
  &--v {
    border-left: 2px solid $primary;
  }

  &--h {
    border-bottom: 1px solid $gray-dark-1;

    &--light {
      border-bottom: 1px solid $gray-light-2;
    }
  }
}

.outlined {
  border: 1px solid $gray-dark-1;

  &--light {
    border: 1px solid $gray-light-2;
  }
}

.radius {
  &--5 {
    border-radius: 5px;
  }

  &--none {
    border-radius: 0;
  }
}
