.btn {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-family: 'roboto-regular';
  text-transform: uppercase;
  font-size: 0.85rem;
  cursor: pointer;

  &:disabled {
    background-image: none;
    background-color: $gray-dark-1;
    color: $gray-mid-1;
    cursor: not-allowed;

    &:hover,
    &:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: none;
      background-color: $gray-dark-1;
    }
  }

  &--primary {
    background-color: $secondary;
    color: $white;
    transition: all ease 0.5s;

    &:hover,
    &:active {
      background-color: $gray-dark-2;
    }
  }

  &--icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: $gray-dark-1;
    font-size: 1.8rem;
    padding: 0;
    line-height: 1.2;
    transition: all ease 0.5s;

    &:hover {
      background-color: rgba($primary, 0.2);
    }
  }

  &--secondary {
    background-color: transparent;
    text-transform: none;
    padding: 0;

    i {
      color: $primary;
      font-size: 2.5rem;
      vertical-align: middle;
      height: 35px;
      line-height: 1;
      display: inline-block;
    }
  }

  &--link {
    background-color: transparent;
    padding: 0;
    -webkit-text-shadow: 0px 0px 0px transparent;
    -moz-text-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    transition: all ease 0.5s;

    i {
      color: $primary;
      font-size: 1.5rem;
      vertical-align: middle;
      width: 35px;
      display: inline-block;
    }

    span {
      vertical-align: middle;
    }
  }
}

.favourite {
  color: $error;
}