.inpt {
  background-color: white;
  border: 1px solid $primary;
  outline: none;
  font-family: 'roboto-regular';
  font-size: 1rem;
  color: $secondary;
  padding: 3px 10px;
  height: 40px;
  box-sizing: border-box;

  &:focus,
  &:active {
    outline: none;
  }

  &::placeholder {
    opacity: 0.4;
  }

  &__wrapper {
    display: inline-block;
    width: 100%;

    &--global {
      .message__error {
        display: none;
      }
    }
  }

  &.error {
    border-color: $error;
    color: $error;
  }
}
